.comment-title{
    align-self: flex-start;
    font-size: 25px;
    color: #66AE5B;
}
.comments{
    display: flex;
    align-self: flex-start;
    color: #66AE5B;
}
.commenter-avi{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #66AE5B;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}
.comment-meta-data{
    margin-top: 5px;
}