.recent-donations{
    display: flex;
    margin-top: 10px;
}

.recent-donation-avi{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #66AE5B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -160px;
    margin-right: 10px;
    color: #66AE5B;
}

.recent-donation-metadata-and-amonut{
    color: #66AE5B;
}
.recent-donator{
    margin-top: 0px;
}
.recent-donation-amonut-and-time{
    display: flex;
    margin-top: -20px;
}
.recent-donation-amount{
    margin-right: 20px;
}