.card{
    padding-top: 10px;
    width: 27vw;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #66AE5B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.donation-image {
    border-radius: 10px;
    height: 104px;
    width: 26.5vw;
    margin-bottom: 6px;
}

.donation-title {
    font-weight: bold;
    font-size: 15px;
    color: #66AE5B;
    margin-bottom: 11px;
}

.progress-bar{
    border: 1px solid #66AE5B;
    width: 95%;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
  height: 10px;
}

.progress-bar::-webkit-progress-value {
  background-color: green;
 
}

/* Firefox */
.progress-bar::-moz-progress-bar {
  background-color: green;
  border-radius: 10px;
}

.donation-amount {
    align-self: flex-start;
    color: #66AE5B;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 4px;
}